<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOGS" value="./logs"/>

    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.quartz" level="INFO"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <charset>UTF-8</charset>
            <!--<pattern>
              %boldCyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %green([%-40.40logger{35}])-:%line -  %msg%n
            </pattern>-->
            <pattern>
                %boldCyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %-5level %class{36}.%M-:%L - %msg%n
            </pattern>

        </encoder>
    </appender>

    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/error-service.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOGS}/archived/error-service.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-4relative %magenta[%thread] %-5level %class{36}.%M-:%L - %msg%n</pattern>
        </encoder>

    </appender>

    <logger name="com.ikejaelectric.notificationapi" level="info"
            additivity="false">
        <appender-ref ref="FILE-AUDIT"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <!-- this config is for logback framework -->
    <logger name="com.zaxxer.hikari" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-AUDIT"/>
    </logger>

    <root level="info">
        <appender-ref ref="FILE-AUDIT"/>
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>